h1{margin: 40px -15px}
.active{
    color: white;
    background-color: $primary;
}
a:hover{
}

.content{
    padding: 50px 40px;
    display: none;
}
.visible{
    display: block;
}


.gauche, .droite{
    display: flex;
    min-height: 150px;
    justify-content: center;
    align-items: center;
}
.red{
    background-color: red;
    width: 50px;
    height: 50px;
}
.niveau-2{
    padding: 10px;
    max-width: 240px;
}
hr{
    background-color: rgba(255, 255, 255, 0.103);
}